.profile__edit-button {
  background-image: url(../../../images/profile__info_edit-button.svg);
  width: 24px;
  height: 24px;
  padding: 7px;
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid white;
  margin-left: 18px;
  cursor: pointer;
  transition: opacity .3s ease;
}

.profile__edit-button:hover {
  opacity: .6;
}

@media screen and (max-width: 767px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    margin-left: 10px;
    position: unset;
  }
}
