.profile {
  font-family: 'Inter', ‘Arial’, sans-serif;
  margin-bottom: 51px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (max-width: 880px) {
  .profile {
    margin-left: 27px;
    margin-right: 27px;
  }
}

@media screen and (max-width: 767px) {
  .profile {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}
