.element__title {
  padding: 0;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: 'Inter', ‘Arial’, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}
