.profile__add-card {
  outline: none;
  width: 150px;
  height: 50px;
  background-position: center;
  background-color: black;
  background-repeat: no-repeat;
  background-image: url(../../../images/profile__add-card.svg);
  margin-left: auto;
  border: 2px solid #fff;
  cursor: pointer;
  transition: opacity .3s ease;
  border-radius: 2px;
}

.profile__add-card:hover {
  opacity: .6;
}

@media screen and (max-width: 767px) {
  .profile__add-card {
    width: 282px;
    margin: 36px auto;
  }
}

