.popup__description {
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  margin-bottom: 48px;
  font-family: 'Inter', ‘Arial’, sans-serif;
  font-size: 14px;
  line-height: 17px;
  min-height: 27px;
}


