.profile__avatar-container {
  position: relative;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  object-fit: cover;
  margin-right: 30px;
}

@media screen and (max-width: 767px) {
  .profile__avatar-container {
    margin-right: 0;
    margin-bottom: 22px;
  }
}
