.card-popup {
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: opacity .3s ease, visibility .3s ease;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #00000080;
}
