.popup__container_name {
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  margin-bottom: 30px;
  font-family: 'Inter', ‘Arial’, sans-serif;
  font-size: 14px;
  line-height: 17px;
  min-height: 27px;
}

.popup__container_name::placeholder {
  font-family: 'Inter', ‘Arial’, sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: black;
}
